
<!-- <div id="bit_coupon_container" class="bit_coupon"> -->
  <!-- <%= form_for('data', url: '../bit_coupons/get_coupon', remote: true, html: {id: 'get_coupon'}) do |f| %> -->

<div id="new_message_left_container">
 <h3>INSTRUCTIONS</h3>
  <div id="step1" class="new_message_step">
    <b>STEP 1: </b> VERIFY PERSONAGE
    <div id="recaptcha_box">
      <%= recaptcha_tags %>
    </div>
  </div>

  <div id="step2" class="new_message_step">
    <b>STEP 2: </b> USE ENCRYPTION?
     <!-- <input type="checkbox" name="YES" value="use_encryption" id="use_encryption_checkbox">YES</input> -->
     <!-- <input type="checkbox" name="YES" value="dont_use_encryption" id="dont_encryption_checkbox">NO</input> -->
     <input type="radio" name="encryption_radio" value="use_encryption" id="use_encryption_checkbox">YES
     <input type="radio" name="encryption_radio" value="dont_use_encryption" id="dont_use_encryption_checkbox">NO
  </div>

  <div id="step3" class="new_message_step">
    <b>STEP 3: </b> FILL OUT MESSAGE
  </div>

  <div id="step4" class="new_message_step">
    <b>STEP 4: </b> INCENTIVISE TRANSACTION
    <select id="payment_selection">
      <option name="payment_type" value="choose"> Please choose one</option>
      <option name="payment_type" value="none"> None - Don't Incentivise Transaction</option>
      <option name="payment_type" value="single_use"> Single Use - New Bitcoin Paymment Address</option>
      <!-- <option value="multi_use_new"> Multi Use - New Credit</option> -->
      <!-- <option value="multi_use_existing"> Multi Use - Existing Credit</option> -->
    </select>
    <b class="new_btc_address">Send 0.0001 BTC to Address:</b>
    <div class="new_btc_address" id="coupon_address"></div>
  </div>

  <div id="step5" class="new_message_step">
    <b>STEP 5: </b> SEND
    <div id="submit_message_container">
      <form id="submit_message_form" onsubmit="return false;">
        <input type="submit" value="Submit message to server" class="button radius tiny submit_message_item front_button" id="submit_message_button"></input>

        <!-- <input type="text" autocomplete="off" placeholder="Enter credit code" id="submit_message_coupon" class="submit_message_item"> -->

      </form>
    </div>
  </div>


  <!-- <div id="coupon_buttons"> -->

    <!-- <div id="couon_info">

      <h4>Address</h4>
      <div id="coupon_address"></div>
      <h4>Credit Code</h4>
      <div id="coupon_code"></div>
      <h4>Value</h4>
      <div id="coupon_value"></div>
    </div> -->
    <!-- <div id="coupon_address_input">
      <%= f.text_field "coupon_code", id: "right-label", placeholder: "Address" %>
    </div>
    <div id="coupon_code_input">
      <%= f.text_field "coupon_code", id: "right-label", placeholder: "Credit Code" %>
    </div>
    <div id="new_coupon_button" class="coupon_button">
        <%= f.submit "New Credit", class:"button tiny" %>
    </div>
    <div id="coupon_code_submit" class="coupon_button">
      <%= f.submit "Check value", class:"button tiny"%>
    </div>
  </div> -->
  <!-- <% end %> -->
<!-- </div> -->
</div>
