<div id="new_bit_coupon_form" class="bit_coupon">
  <%= form_for('data', url: '../bit_coupons/get_coupon', remote: true, html: {id: 'get_coupon'}) do |f| %>
    <%= recaptcha_tags %>
    <%= f.submit "New coupon", class:"button radius"%>
    <%= f.text_field "coupon_code" %>
    <%= f.submit "Check value", class:"button radius"%>
  <% end %>
</div>

<div id="couon_info" class="bit_coupon">
  <div id="coupon_address">hello</div>
  <div id="coupon_code">world</div>
  <div id="coupon_value">YES</div>
</div>
