<%= form_tag messages_path, method: "get" do %>
  <div class="message_search">
    <%= text_field_tag(:search, nil, placeholder: "Message") %>
  </div>
  <div id="front_page_buttons">
    <%=link_to 'View All', messages_path, id: "view_all_button", class: "button radius small" %>
    <%= submit_tag "Search", id: "search_button", class: "button radius small" %>
  </div>
<% end %>


<%= h render(:partial => '/bit_coupons/bit_coupon.html.erb') -%>
