<body class="front_page">
<%= h render(:partial => '/layouts/header_minimal.html.erb') -%>

<div id="fullpage">
<div class="row front_page_panel section ">
  <div id="name" class="small-6 small-centered columns">
  <h1 id=front_title>Blockchain Messages</h1>
  </div>
  <%= form_tag messages_path, method: "get" do %>
  <div class="row">
    <div id="search" class="small-9 small-centered columns">
      <%= text_field_tag(:search, nil, placeholder: "Message, Transaction Hash, Block Hash, Tag ...", id: "message_search") %>
    </div>
  </div>
  <div class="row">
    <div id="front_button_container" class="small-12 small-centered columns">
      <%= submit_tag "SEARCH", id: "front_search_button", class: "button radius small front_button" %>
      <%=link_to 'NEWEST', messages_path, id: "front_view_all_button", class: "button radius small front_button" %>
    </div>
  </div>
  <% end %>
  <!-- <div class="arrow bounce">
    <%= image_tag("down_arrow.png", width: '180', height: '180', alt: 'Scroll') %>
  </div> -->
</div>


<div class="row front_page_panel section">
  <div id="client_side_image" class="small-5 small-offset-2 columns front_page_image  ">
    <%= image_tag("client_side.svg", width: '400', height: '400', alt: 'Site Logo', class: "logo") %>
  </div>
  <div id="client_side_image_text" class="small-4 columns">
    <h3> We use client side encryption </h3>
    <p> This means that messages are encrypted locally in your browser and no raw text is sent to the server. In other words, we have no idea what you write.</p>
  </div>
</div>
<div class="row front_page_panel section">
  <div id="bitmsg_server_image" class="small-6 small-centered columns front_page_image ">
    <%= image_tag("bitmsg_server.svg", width: '400', height: '400', alt: 'Site Logo', class: "logo") %>
  <div class="row">
    <div id="bitmsg_server_text">
      <h3> Messages are packed into micro transactions </h3>
      <p> The message you submit to the server is wrapped into a bitcoin transaction. Any "fee" you include is used to incentivise people who host the network to absorb the transaction into the ledger </p>
    </div>
  </div>
  </div>

</div>
<div class="row front_page_panel section">
  <div id="block_chain_image" class="small-5 small-offset-2 columns front_page_image ">
    <%= image_tag("block_chain.svg", width: '350', height: '350', alt: 'Site Logo', class: "logo") %>
  </div>
  <div id="client_side_image_text" class="small-4 columns">
    <h3> Our server sends the data to the transactional ledger </h3>
    <p> The transactional ledger is called the bitcoin blockchain. This is a public and distributed self referencing chain of transactions.</p>
  </div>
</div>

</div>

</body>
