<div id="fullpage">
<div class="row front_page_panel section ">
  <div id="name" class="small-6 small-centered columns">
  <h1>Blockchain Messages</h1>
  </div>
  <div class="row">
    <div id="search" class="small-9 small-centered columns">
      <%= text_field_tag(:search, nil, placeholder: "Message", id: "message_search") %>
    </div>
  </div>
  <div class="row">
    <div id="front_button_container" class="small-12 small-centered columns">
      <%= submit_tag "Search", id: "front_search_button", class: "button radius small" %>
      <%=link_to 'View All', messages_path, id: "front_view_all_button", class: "button radius small" %>
    </div>
  </div>
</div>
<div class="row front_page_panel section">
  <div id="client_side_image" class="small-6 small-centered columns front_page_image  ">
    <%= image_tag("client_side.svg", width: '400', height: '400', alt: 'Site Logo', class: "logo") %>
  </div>
</div>
<div class="row front_page_panel section">
  <div id="bitmsg_server_image" class="small-6 small-centered columns front_page_image ">
    <%= image_tag("bitmsg_server.svg", width: '400', height: '400', alt: 'Site Logo', class: "logo") %>
  </div>
</div>
<div class="row front_page_panel section">
  <div id="block_chain_image" class="small-6 small-centered columns front_page_image ">
    <%= image_tag("block_chain.svg", width: '350', height: '350', alt: 'Site Logo', class: "logo") %>
  </div>
</div>
<!--
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div> -->
</div>
