<div class="sticky">

    <div id="messages_nav_container">
      <div id="messages_search_form">
        <%= form_tag messages_path, method: "get" do %>

        <%= link_to image_tag('logo.svg', width: 40, height: 40, alt: 'home'), root_path, id: "nav_message_logo" %></div>

          <%= text_field_tag(:search, nil, placeholder: "Message", id: "nav_message_search") %>
          <%= submit_tag "Search", id: "nav_search_button", class: "button radius tiny" %>
          <%=link_to 'View All', messages_path, id: "nav_view_all_button", class: "button radius tiny" %>
        <% end %>

      <!-- <div id="use_encryption" class="medium button radius"> -->
        <!-- CLICK TO USE ENCRYPTION -->
      <!-- </div> -->
    <div class="row" id="spacer_row">
    </div>
  </div>
</div>
