<div class="sticky">

    <div id="messages_nav_container">
      <div id="messages_search_form">
        <%= form_tag messages_path, method: "get" do %>
          <%= text_field_tag(:search, nil, placeholder: "Message", id: "message_search") %>
          <%= submit_tag "Search", id: "search_button", class: "button radius small" %>
          <%=link_to 'View All', messages_path, id: "view_all_button", class: "button radius small" %>
        <% end %>
      </div>

      <div id="new_message_button_container">
        <%=link_to 'NEW MESSAGE', new_message_messages_path, id: "new_message_button", class: "medium button radius" %>
      </div>
    </div>
    <div class="row" id="spacer_row">
    </div>

</div>
